.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #333434;
    border-radius: 20px;
    transition: transform 0.2s ease-in;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: background-color 2s ease-in;
    cursor: pointer;
}

.card.normal {
    background-color: #333434;
}

.card.fire {
    background-color: #b44f0b;
}

.card.water {
    background-color: #1f5a81;
}

.card.grass {
    background-color: #246d24;
}

.card.electric {
    background-color: #9b9217;
}

.card.ice {
    background-color: #1fa095;
}

.card.fighting {
    background-color: #811f1f;
}

.card.poison {
    background-color: #5b2b77;
}

.card.ground {
    background-color: #9c763e;
}

.card.flying {
    background-color: #663e86;
}

.card.psychic {
    background-color: #811f60;
}

.card.bug {
    background-color: #579266;
}

.card.rock {
    background-color: #ad802d;
}

.card.ghost {
    background-color: #4f3e5a;
}

.card.dark {
    background-color: #443f3f;
}

.card.dragon {
    background-color: #462fa8;
}

.card.steel {
    background-color: #797979;
}

.card.fairy {
    background-color: #dd96d4;
}

.card:hover {
    transform: scale(1.05);
}

.card .pokemon {
    position: relative;
    width: 100%;
    padding: 0;
    z-index: 1;
}

.card .pokemon::before {
    content: "";
    position: absolute;
    width: 80%;
    top: 10%;
    left: 10%;
    padding-bottom: 40%;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    background-color: red;
    z-index: -1;
}

.card .pokemon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    height: 40%;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    background-color: white;
    z-index: -1;
}

.card img {
    width: 100%;
}

.waiting-pokeball {
    width: 100px;
    height: 100px;
    transform-origin: 50% 52%;
    animation: fastRotation 2.5s ease-in-out infinite;
}

.card span {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1.2rem;
}

@keyframes fastRotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(3600deg);
    }
}
